@{
    ViewBag.Title = "Anasayfa";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron" align="center" style="display: table; color: slategray">
    <div class="row">
        <div class="col-md-4" style="display: block">
            <p><a class="btn btn-primary" href="../Ogrenci/Index">Öğrenci &raquo;</a></p>
        </div>
        <div class="col-md-4" style="display: block">
            <p><a class="btn btn-primary" href="../Akademisyen/Index">Akademisyen &raquo;</a></p>
        </div>
        <div class="col-md-4" style="display: block">
            <p><a class="btn btn-primary" href="../Ders/Index">Ders &raquo;</a></p>
        </div>
        <div class="col-md-4" style="display: block">
            <p><a class="btn btn-primary" href="../Bolum/Index">Bölüm &raquo;</a></p>
        </div>
    </div>
</div>