
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ders</h2>

<div class="jumbotron" align="center" style="display: table; color: slategray">
    <div class="row">
        <div class="col-md-4" style="display: block">
            <p><a class="btn btn-primary" href="../Ders/DersEkle">Kayıt Ekle &raquo;</a></p>
        </div>
        <div class="col-md-4" style="display: block">
            <p><a class="btn btn-primary" href="../Ders/KaytListele">Kayıtları Listele &raquo;</a></p>
        </div>
    </div>
</div>